@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  background-image: url(https://media.discordapp.net/attachments/889893429889339472/913190280063246356/edificiogris_1.jpg?width=711&height=473);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main {
  display: flex !important;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
a {
  color: #0070f3;
  text-decoration: none;
}

.counter button {
  padding: 1px 10px;
  margin: 0;
  font-size: 0.8em;
  cursor: pointer;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
  margin-top: 2.5em;
  line-height: 3.5;
  font-size: 5rem;
  text-shadow: 2px 2px 10px #333333;
}

.title,
.description {
  text-align: center;
  font-size: 80px;
  letter-spacing: 5px;
  background-color: rgb(36, 36, 36, 0.6);
  border-radius: 1em;
  padding: 10px;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.card {
  margin-top: 20px;
  position: relative;
  padding: 2rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 10px solid #eaeaea;
  color: white;
  border-radius: 50px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}
.botonMovedor:hover {
  opacity: 1;
}

.botonMovedor {
  transition: opacity 1s;
  position: absolute;
  opacity: 0.6;
  color: #eaeaea;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border: 5px;
  border-style: inset;
  border-color: #eaeaea;
  cursor: pointer;
  border-radius: 1rem;
  text-align: center;
  transform: translate(-50%, -50%);
}
.imagenEscena {
  position: relative;
  width: 1000px;
  height: 666px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}
tr,
td {
  padding: 10px;
}
.botonInfo {
  opacity: 0.5;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
}
.botonInfo:hover {
  opacity: 1;
}
.nom {
  position: relative;
  font-size: 2em;
  color: #eaeaea;
  text-align: center;
}
.desc {
  position: relative;
  font-size: 1em;
  color: transparent;
  opacity: 0;
  margin: 0 10px 0 10px;
  transition: opacity 2s, color 2s;
}
.tabla {
  position: relative;
}
.poroto {
  opacity: 0.5;
  z-index: 1000;
  height: 20%;
  width: 100%;
  color: rgb(122, 122, 122);
  background-image: linear-gradient(to bottom, black, transparent);
  transition: height 1s, color 2s, opacity 1s, font-size 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.poroto:hover {
  opacity: 1;
  color: white;
  height: 50%;
  font-size: 2rem;
}
.poroto:hover ~ .botonMovedor {
  opacity: 0;
}
.poroto:hover ~ .botonInfo {
  opacity: 0;
}
.poroto:hover .desc {
  color: #eaeaea;
  opacity: 1;
  text-shadow: none;
}
.profesor {
  border-radius: 1rem;
  height: 160px;
  width: 160px;
  background-size: cover;
  background-repeat: no-repeat;
}
.popImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 320px;
}
.paginaInicio {
  background-image: url("../public/images/edificio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1040px) {
  .imagenEscena {
    width: 100vw;
    height: 66vw;
  }
  .botonMovedor {
    font-size: 2.5vw;
    border: 1vw;
    border-style: inset;
    border-color: #eaeaea;
  }
  .botonInfo {
    height: 10vw;
    width: 10vw;
  }
}

@media (max-height: 666px) {
  .imagenEscena {
    width: 150vh;
    height: 100vh;
  }
  .botonMovedor {
    font-size: 2.5vh;
    border: 1vh;
    border-style: inset;
    border-color: #eaeaea;
  }
  .botonInfo {
    height: 10vh;
    width: 10vh;
  }
}
